body{
	background: url("../image/backpic.png");
	background-size: 100%;
    color: rgb(121, 192, 7);
}
* {
	box-sizing: border-box;
}
img { 
    height: 149px;
    width: 149px;
}
.btn {
    margin: 3px;
    background-color: #08e626;
    border-color: #fff;
}
.gifDiv{
    float: left;
    margin: 3px;
}
.container {
	opacity: 0.9;
    padding: 20px;
    max-width: 78.4%;
    margin-left: 156px;
}
.jumbotron {
    background-color: inherit;
    max-width: 78.4%;
    margin-left: 0px;
}
.jumbotron .h1, .jumbotron h1 {
    font-size: 100px;
    margin-top:-60px ;
}
#copyright{
	font-size: 14px;
}
div#footer {
	clear: both;
	margin-top: 140px;
	position: center;
	text-align: center;
}
